@import "~@nebular/theme/styles/global/breakpoints";
@import "../../@theme/styles/themes";

@include nb-install-component() {
  --card-padding: 0;
  --card-border-style: none;
  --card-border-radius: 1.2rem;
  --icon-width: 3rem;
  --icon-height: 3rem;
  --card-shadow: 0 10px 20px #c0c0c0;
}

:host {
  nb-card {
    margin: auto;
    height: 35rem;
    width: 415px;

    nb-card-body {
      display: flex;
      width: 100%;

      .card {
        border-width: 0;
        padding-left: 0;
        padding-right: 0;
        border-radius: 1rem;

        .navigation .link {
          display: inline-block;
          text-decoration: none;
          padding-left: 10px;

          nb-icon {
            padding-top: 0.5rem;
          }
        }

        ngx-auth-block {
          margin: auto;
        }
      }
    }
  }

  ::ng-deep {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      margin: auto;
    }
  }
}
