@import "../../../../@theme/styles/themes";

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {
  --card-height-giant: 43.25rem;
  
  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  ngx-user-dashboard-bar-chart {
    padding: 0 1.25rem;
  }
}
