@import "../../../../@theme/styles/themes";

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {
  --card-height-giant: 43.25rem;

  .hours {
    margin-left: 10px;
    background-color: #0095ff;
    color: white;
    border-radius: 10%;
  }

  .icon-btn {
    margin-left: 10px;
  }

  .h6{
    padding-top: 15px;
  }
}
