<nb-card size="giant">
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <div class="h6">Researcher</div>
      <div class="h6 text-center">{{title}}</div>
      <div class="btn">
        <button nbButton type="submit" status="warning" (click)="halfday()"
          [disabled]="this.task_req_hours === 0 || this.task_req_hours === 4">Halfday</button>
        &nbsp;
        <button nbButton type="submit" status="success" (click)="onleave()"
          [disabled]="this.task_req_hours === 0 || this.task_req_hours === 4">Onleave</button>
        &nbsp;
        <button nbButton type="submit" status="primary" (click)="createSubtask()"
          [disabled]="this.task_req_hours === 0">Add
          Task</button>
      </div>
    </div>
  </nb-card-header>
  <div class="chart-container">
    <nb-card-body>
      <ul>
        <li *ngFor="let subtask of subtasks">
          {{subtask.description}}
          <span class="hours">{{subtask.hour}} hours</span>
          <span class="icon-btn">
            <button nbButton type="submit" status="success"
              (click)="updateSubtask(subtask.id, subtask.hour, subtask.description)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
            &nbsp;
            <button nbButton type="submit" status="danger" (click)="deleteSubtask(subtask.id)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </span>
        </li>
      </ul>
    </nb-card-body>
  </div>
</nb-card>